<% include common/header.ejs %>
<div class="discount">
    <div class="roga"></div>
    <p style="font-size: 20px; color: white; text-align: center">
        Цього тижня <br>на все</p>
    <p style="font-size: 20px; color: white; text-align: center; border-top: dotted 1px">
        -20%</p>

</div>

<div class="top-panel">
    <div class="discount top">
        <div class="roga"></div>
        <p style="font-size: 20px; color: white; text-align: center">PIZZA <br>KMA</p>
    </div>
    <div class="up main-header-top-items">
        <div class="main-header-top-item phone-number visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
            (044) 222 5 222
        </div>
        <div class="visible-md-inline-block visible-lg-inline-block main-header-top-item work-days ">
            24 години/ 7 днів на тиждень
        </div>
        <div class="visible-lg-inline-block main-header-top-item delivery  ">
            Безкоштовна доставка піци
        </div>
        <div type="button" class="btn btn-warning">Ввійти</div>
    </div>
    <div class="down"></div>
</div>
<div class="container-fuild">
    <div class="row" id="pizza_list1">
        <div class="order" style="left: 50px; max-width: 500px">
            <h2>Контактні дані</h2>
            <form class="form-horizontal" role="form">
                <div class="form-group-name">
                    <label for="inputPassword" class="col-sm-4 control-label">Your Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control inputName" id="" placeholder="Name" value="">
                    </div>
                </div>
                <div class="form-group-number">
                    <label for="inputPassword" class="col-sm-4 control-label">Your number</label>
                    <div class="col-sm-8">
                        <input type="tel" class="form-control" id="inputNumber" placeholder="+380732281488">
                    </div>
                    </div>
                <div class="form-group-adress">
                    <label for="inputPassword" class="col-sm-4 control-label">Your adress</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputAdress" placeholder="your adress">
                    </div>
                </div>
                <button type="button" class="btn btn-warning send">Send</button>
            </form>
        </div>

    </div>


    <div class="container">



        <div class="buy-list" >
            <div class="r1 "style="margin-bottom: 2px;border-bottom: 1px dotted #fffff5" >
                   <span class="ord">Замовлено
                   <span class="badge orange orders-count-span">0</span>
                   </span>
                <span class="clear-list">
                        Очистити замовлення
                    </span>

            </div>
            <div class="r2" id="cart" style="overflow: scroll">

            </div>
            <div class="r3">
                <div class="price"></div>
                <div type="button" class="btn btn-lg btn-warning">Замовити</div>
            </div>

        </div>
    </div>

    <footer class="footer" >

        <p>
            Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії
        </p>
        <p>
            Доставка піци не здійснюється
        </p>
    </footer>
</div>
<% include common/footer.ejs %>