
<!--<p>Footer Goes Here</p>-->


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script	src="//static.liqpay.com/libjs/checkout.js">
</script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
<script	type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDb9fajHq1euEtYa6RAoI-w8DHTbrTsNEE">
</script>

</body>
</html>